<header class="header">
  <div class="logo">
    <h3><a href="/">Lexaboard</a></h3>
  </div>
  <div class="box__profile">
    <picture class="box__prolife-thumbnail">
      <img src="/public/assets/profile.png" alt="profile" class="box__profile-thumbnail_img">
    </picture>
    <div class="box__profile-info">
      <b class="profile__info-name">John doe</b><br>
      <span class="profile__info-role">attorneys</span>
    </div>
    <div class="box__profile-icon-arrow__down"><span>⌄</span></div>
  </div>
</header>