<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
      </ul>
    </nav>
  </header>
  <h1>A bout</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, repudiandae illum quod consequatur ipsum ab deserunt provident assumenda adipisci mollitia sunt iste voluptatem quaerat libero nemo? Libero nam, illo id iusto nisi accusamus quam cumque, nihil, iure quidem saepe atque eaque pariatur. Ex numquam reiciendis odit consequatur porro expedita omnis adipisci facere! Aperiam cumque, ad, facilis suscipit iusto neque qui magnam recusandae porro laudantium officiis obcaecati sed dolorum voluptas ipsum aliquid voluptatibus quod officia excepturi accusantium quidem molestias eligendi aspernatur.</p>
</body>

</html>