<!-- Head -->
<%- include('./shared/_head') %>
<!-- // -->

<body id="bodyReport">

  <!-- header -->
  <%- include('./shared/_header') %>
  <!-- --------- -->
  <div class="head">
    <div class="backlink">
      <a href="/">&larr; Reports</a>
    </div>

    <button type="button">&DownArrowBar; Download Report</button>
  </div>
  <main>
    <h2>Aucun Rapports</h2>
  </main>
</body>
</body>

</html>